/* Variables de police */
:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;

  --base-font-size: 16px;
  --h1-font-size: 36px;
  --h2-font-size: 24px;
  --h3-font-size: 18px;
  --h4-font-size: 16px;
  --h5-font-size: 14px;
  --h6-font-size: 12px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --line-height: 1.5;
}

/* Variables de couleur */
:root {
  --white: #FFFFFF;
  --light-gray: #F5F5F5;
  --medium-gray: #6d717e;
  --dark-gray: #4f5564;
  --dynamic-color: #FF5722;
}